.AnswerItem {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 10px;
  background-color: #f5f5f5;
}

.QuestionInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.forbackGrounds {
  margin-top: 160px;
  background-color: #fafafa;
  padding-left: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.max-width {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.m-r {
  margin-left: 20px;
}

.scrollable-div {
  max-height: 300px;
  min-height: 0px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.username {
  width: 90px;
  /* padding-left: 60px; */
}

.alert {
  color: aquamarine;
}

.titlequestion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.question {
  border-bottom: 2px solid aqua;
  width: 50%;
  margin-top: 40px;
  margin: 30px;
  object-fit: contain;
  border-radius: 5px;
  height: auto;
  background-color: antiquewhite;
  color: #000;
  font-size: xx-large;
  font-weight: 700;
  font-style: italic;
}

.description {
  width: 100%;
  height: auto;
  color: #000;
  font-size: larger;
  font-weight: 500;
}

.answerTitle {
  border-top: 1px solid rgb(230, 139, 139);
  border-bottom: 1px solid lightgray;
  height: 2em;
  font-size: large;
  margin-top: 10px;
}

.thewhole {
  background-color: #fafafa;
}

.blue {
  color: white;
  font-size: 24;
  background-color: #0b5ed7;
}

.flex-row {
  display: flex;
  flex-direction: column;
  /* padding-right: 40px; */
}

.Avatar {
  width: 30px;
  height: 30px;
  margin: auto;
  /* color: #062855; */
}

/* media-screen */

@media (min-width: 769px) {
  .max-width {
    /* max-width: 90%; */
    margin-left: 100px;
    /* margin-right: auto; */
    /* background-color: #FAFAFA; */
  }
  .answerTitle {
    font-size: xx-large;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .forbackGrounds {
    padding-bottom: 100px;
    margin-top: 170px;
  }
  .usernames {
    margin-bottom: 20px;
  }
  .fortopmr {
    margin-top: 30px;
  }
}
