@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--bs-body-color);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
}

body {
  /* CSS Variables that may have been missed get put on body */
  --bs-gutter-x: 1.5rem;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  background-color: var(--bs-body-bg);
  color: #212529;
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  line-height: var(--bs-body-line-height);
  margin: 0;
  text-align: var(--bs-body-text-align);
}

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.inn-5ox {
  align-items: center;
}

.container-d3t {
  --bs-gutter-x: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}

@media (min-width: 576px) {
  .container-d3t {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-d3t {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-d3t {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-d3t {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-d3t {
    max-width: 1320px;
  }
}

.d-4k3 {
  display: flex !important;
}

.content-5ck {
  justify-content: space-around !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: #0d6efd;
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
  color: var(--bs-link-hover-color);
}

button {
  border-radius: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
}

.ivsnk {
  background: none;
  border: none;
  color: #ff8500;
  cursor: pointer;
  font-size: 30px;
}

@media (min-width: 576px) {
  .block-ovk {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-1ln {
    display: none !important;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

.inn-xwv {
  align-items: center;
}

.inn-xwv {
  width: 400px;
}

.d-vdn {
  display: none !important;
}

.content-sq4 {
  justify-content: space-between !important;
}

@media (min-width: 768px) {
  .block-5yz {
    display: block !important;
  }
}

img {
  width: 200px;
}

img {
  vertical-align: middle;
}

.inn-xwv > a {
  color: #3b455a;
  font-family: Lato, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}

.inn-xwv > a:hover {
  color: #ff8500;
}

.header-l9y {
  background-color: #516cf0;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400px;
  height: 41px;
  text-align: center;
  width: 200px;
}

.header-l9y:hover {
  background-color: #ff8500;
}
