.inputss input {
  width: 60%;
  /* height: 25px; */
  margin: 5px 0px;
  /* margin-top: 20px; */
  /* margin-right: 40px; */
  padding-left: 10px;
  /* margin-bottom: px; */
  /* margin-left: 90px; */
  /* padding-right: 30px; */
  background-color: #e8f0fe;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

/* .fifty{
   display: flex; */

/* justify-content:space-between;  */

/* padding-left:30px ; */

/* width: 76%; */

/* } */

.fifty input {
  /* margin-right: 20px; */
  /* justify-content: space-around; */
}

.p-l {
  /* padding-right:40px; */
}

.p-r {
  /* padding-left:70px; */
}

.regiterWrapper h1 {
  font-size: 18px;
}

.textCenterr {
  text-align: center;
  /* text-decoration: none; */
}

.registertitle {
  font-weight: 100;
  margin-bottom: 20px;
}

.darkbl {
  margin-bottom: 10px;
  color: #2d385e;
}

.regiterWrapper h2 {
  font-size: 16px;
}

.agree {
  background-color: #516cf0;
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  font-size: 14px;
  width: 85%;
}

.agree:hover {
  background-color: #fe8402;
}

.onhover {
  color: #da7000;
  margin-left: 5px;
}

.onhover:hover {
  text-decoration: underline;
  /* color: #DA7000; */
}

.password {
  position: relative;
}

.password input {
  /* padding-right: 8px;  */
}

.password .eye {
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  font-size: 20px;
}

.coloro {
  color: #da7000;
  margin-left: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}

.terms {
  font-size: 12px;
  font-weight: normal;
  color: #6c757d;
  /* margin-left: 60px; */
}

.lastones {
  text-align: center;
}

.already {
  color: #da7000;
  cursor: pointer;
  padding: 5px;
}

@media (min-width: 1025px) {
  .fifty {
    display: flex;
    justify-content: space-between;
  }
  .password .eye {
    right: 20%;
  }
  .inputss input {
    width: 400px;
    height: auto;
    padding: 5px;
  }
  .fifty {
    width: 400px;
    margin-left: 52px;
  }
  .fifty input {
    /* width: 45%;  */
    width: calc(50% - 10px);
    padding: 5px;
    /* margin-right: 10px;  */
  }
  .p-l {
    padding-left: 20px;
  }
  .agree {
    padding: 15px 15px;
  }
}

/* not */
