@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--bs-body-color);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  text-align: var(--bs-body-text-align);
}

body {
  /* CSS Variables that may have been missed get put on body */
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  background-color: var(--bs-body-bg);
  color: #212529;
  color: var(--bs-body-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue,
    Noto Sans, Liberation Sans, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-family: var(--bs-body-font-family);
  font-size: 1rem;
  font-size: var(--bs-body-font-size);
  font-weight: 400;
  font-weight: var(--bs-body-font-weight);
  line-height: 1.5;
  line-height: var(--bs-body-line-height);
  margin: 0;
  text-align: var(--bs-body-text-align);
}

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.content-dne {
  justify-content: space-around !important;
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: #0d6efd;
  color: var(--bs-link-color);
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
  color: var(--bs-link-hover-color);
}

.wrapper-64a {
  background-color: #3b455a;
  min-width: 500px;
  padding-left: 30px;
}

@media (min-width: 768px) {
  .d-md-6xf {
    display: flex !important;
  }
}

.row-jkx {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}

img {
  width: 200px;
}

img {
  vertical-align: middle;
}

.Ico-odj {
  padding-top: 10px;
  width: 400px;
}

h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1.75rem;
  }
}

.title-kpz {
  color: #fff;
  padding-top: 35px;
}

.row-jkx > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}

.Contact-oib {
  padding-bottom: 50px;
}

.logo-xkt {
  padding-top: 40px;
}

.Ico-odj > a {
  color: #fff;
  margin-right: 40px;
}

.Useful-l8j > a {
  color: hsla(0, 0%, 84%, 0.6);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  text-decoration: none;
}

.Useful-l8j > a:hover {
  color: #fff;
  text-decoration: underline;
  transition: all 0.4s ease;
}

p {
  color: #4b456f;
}

p {
  font-family: Lato, sans-serif;
  font-size: 15px;
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

.Contact-oib > p {
  color: hsla(0, 0%, 84%, 0.6);
  display: flex;
  flex-direction: column;
}

svg {
  vertical-align: middle;
}

/* These were inline style tags. Uses id+class to override almost everything */

#style-GCd1E.style-GCd1E {
  display: inline-block;
}

#style-pEf2x.style-pEf2x {
  display: inline-block;
}

#style-r28yk.style-r28yk {
  display: inline-block;
}
