* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.links button {
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: 600;
  background-color: #516cf0;
  color: white;
}

.two-in-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.oops {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-controller {
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
}

.profile {
  max-width: 80%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 900;
  font-size: xx-large;
}
